* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #0c1022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover,
nav a:active {
    color:#3cf;
}

section {
    min-height: 100vh;
    display: flex;
    background: #0c1022;
    color: #fff;
    font-weight: 700;
}

section:nth-child(odd) {
    background: #323946;
}

.homes {
    width: 100%px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 500px;
    margin-left: 70px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 35px;
    font-weight: 700;
}

.home-content p {
    font-size: 20px;   
}

.home-img {
    width: 410px;
    height: 410px;
}

.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#3cf, violet);
    border-radius: 50%;
}

.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: 30px;
    left: 6%;
    transition: translateX(-50%);
    max-width: 350px;
    object-fit: cover;
}

.exp {
    width: 100%px;
    height: 100vh;
    justify-content: center;
    padding: 70px 10% 0;
}

.exp-content {
    max-width: 500px;
}

.exp-content h1 {
    font-size: 56px;
    text-align: center;
    color: white;
    background-color: #3cf;
    border-width: 36px;
    border-style: none;
    border-radius: 16px;
    vertical-align: top;
    margin-top: 20px;
}

.exp-content h3 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 45px;
    text-align: center;
    color: #3cf;
}

.p1 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.p2 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.exp-content h4 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
    color: #3cf
}

.p3 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.p4 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.achieve {
    width: 100%px;
    height: 100vh;
    justify-content: center;
    padding: 70px 10% 0;
}

.achieve-content {
    max-width: 500px;
}

.achieve-content h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: #3cf;
    border-width: 36px;
    border-style: none;
    border-radius: 16px;
    vertical-align: top;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.p5 {
    font-size: 22px;
    margin-top: 100px;
    text-align: center;
}

.p6 {
    font-size: 22px;
    margin-top: 100px;
    text-align: center;
}

.p7 {
    font-size: 22px;
    margin-top: 100px;
    text-align: center;
}

.contacts {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.wrapper .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #0c1022;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: -70px;
    background: #0c1022;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
}

.wrapper .icon:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}